# PostgreSQL
POSTGRES_USER=rda
POSTGRES_PASSWORD=rda
POSTGRES_DB=rda

# Backend
DATABASE_URL=postgresql+psycopg://rda:rda@postgres:5432/rda
BACKEND_CORS_ORIGINS=http://localhost:3000
ENVIRONMENT=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
